body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Georgia;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  overflow:hidden;
}

.carta{
  background:#ffffffee;
  padding:40px;
  border-radius:25px;
  box-shadow:0 0 30px rgba(0,0,0,0.2);
  text-align:center;
  position:relative;
  z-index:1;
}

h2{
  color:#c2185b;
}

p{
  color:#6a0572;
  font-size:18px;
}

.botones{
  margin-top:25px;
}

button{
  padding:12px 22px;
  font-size:16px;
  border:none;
  border-radius:14px;
  cursor:pointer;
  margin:0 10px;
}

#si{
  background:#ff4d6d;
  color:white;
}

#no{
  background:#6a0572;
  color:white;
  position:absolute;
  z-index:10000; /* Siempre encima */
}
